<div class="col-md-12 agile-manifesto">
    <div class="col-md-12" align="center">
        <div class="title">The Agile Manifesto</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 heading-top-red" align="center">
            <div class="heading">Individuals and interactions</div>
            <div>over</div>
            <div>processes and tools</div>
        </div>
        <div class="col-md-12 heading-top-orange" align="center">
            <div class="heading">Working software</div>
            <div>over</div>
            <div>comprehensive documentation</div>
        </div>
        <div class="col-md-12 heading-top-yellow" align="center">
            <div class="heading">Customer collaboration</div>
            <div>over</div>
            <div>contract negotiation</div>
        </div>
        <div class="col-md-12 heading-top-green" align="center">
            <div class="heading">Responding to change</div>
            <div>over</div>
            <div>following a plan</div>
        </div>
    </div>
    <div class="col-md-12 heading-top-bronze" align="center">
        <a href="http://agilemanifesto.org">http://agilemanifesto.org</a>
    </div>
</div>