<div class="col-md-12">
    <div class="col-md-12">
        <h2>The Agile Manifesto</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-3" align="center">
            <h3>Individuals and interactions</h3>
            <div>over</div>
            <div>processes and tools</div>
        </div>
        <div class="col-md-3" align="center">
            <h3>Working software</h3>
            <div>over</div>
            <div>comprehensive documentation</div>
        </div>
        <div class="col-md-3" align="center">
            <h3>Customer collaboration</h3>
            <div>over</div>
            <div>contract negotiation</div>
        </div>
        <div class="col-md-3" align="center">
            <h3>Responding to change</h3>
            <div>over</div>
            <div>following a plan</div>
        </div>
    </div>
    <div class="col-md-12">
        <a href="http://agilemanifesto.org">http://agilemanifesto.org</a>
    </div>
</div>