.agile-manifesto {

    padding-top: 10px;

    .title {
        font-size: 30px;
    }

    .heading {
        font-size: 24px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #d3d3d3;
        padding: 10px 0 5px 0;
    }

    .heading-top-red {
        border-top: solid;
        border-width: 2px;
        border-color: #ff0000;
        margin-top: 15px;
    }

    .heading-top-orange {
        border-top: solid;
        border-width: 2px;
        border-color: #ffa500;
        margin-top: 15px;
    }

    .heading-top-yellow {
        border-top: solid;
        border-width: 2px;
        border-color: #ffff00;
        margin-top: 15px;
    }

    .heading-top-green {
        border-top: solid;
        border-width: 2px;
        border-color: #008000;
        margin-top: 15px;
    }

    .heading-top-bronze {
        border-top: solid;
        border-width: 2px;
        border-color: #ffffa5;
        margin-top: 15px;
    }

}