@image-path: "../../../../resource/image";
@icon-path: "../../../../resource/glyph-icon";

  .icon-sprint {
    background: white url("@{icon-path}/glyphicons-592-person-running.png") no-repeat center center;
    width: 36px;
    height: 30px;

  }


