/* colours definition */ 

@error-text: #983b4f;
@error-bground: #fffefe;
@error-border: #983b4f;

@lt-red-bground: #fff8f8;

@dk-red: #983b4f;
@orange: #e09431;
@dk-orange: #e07411;

@even: white;
@odd: #F9F8F6;

@public: #122b40;
@sponsor: rgba(255, 192, 0, 1);
@staff: rgba(0, 176, 240, 1);
@security: rgba(146, 208, 80, 1);
@reception: rgba(170, 113, 213, 1);
@establishment: rgba(0, 112, 192, 1);
@lead-reception: red;

@lighter-gray: #f9f9f9;

@primary: #285e8e;


