@import net.atos.tenderingportal.domain.model.User
@(user: User, baseUrl: String)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Atos Tendering Portal forgotten password confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Dear @user.getFirstName
</p>
<p>
    A request to reset the password has been made for this email. If this was you, please click the link below to reset your password
</p>
<p>
    <a href="@baseUrl/#/reset-password?key=@user.getResetPasswordKey">Reset Password</a>
</p>
<p>
    If you did not make such a request, please ignore this email. This link will invalidate after 2 hours.
</p>
<p>
    <em>This automatic notification was sent by the Atos Tendering Portal. Please do not reply to this
        e-mail.</em>
</p>
</body>
</html>