@import net.atos.tenderingportal.domain.model.User
@(user: User, baseUrl: String, password: String)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Atos Tendering Portal reset password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Dear @user.getFirstName
</p>
<p>
    Your password has been reset. Your temporary password is:
</p>
<p>
    @password
</p>
<p>
    <a href="@baseUrl/#/login">Click on this link to login</a>
</p>
<p>
    Please remember to change your password once you have logged in.
</p>
<p>
    <em>This automatic notification was sent by the Atos Tendering Portal. Please do not reply to this
        e-mail.</em>
</p>
</body>
</html>